.hero, .servicios-yerba, .caja-cuestionario {
  display: flex;
  justify-content: center;
  align-items: center; }

.servicios {
  display: flex;
  justify-content: space-around;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Crimson Text', serif;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Prompt', sans-serif; }

.img-logo {
  width: 50px;
  height: 50px; }

/** EDITAMOS NAVBAR */
.navbar-brand {
  color: #EAC696; }

.nav-link {
  color: #EAC696; }

.nav-link:hover {
  color: #d8ad75b6; }

.container-fluid button {
  color: #EAC696;
  border: 2px solid #EAC696; }

.container-fluid button i {
  font-size: 25px; }

header {
  background-color: #432818;
  position: sticky;
  top: 0;
  z-index: 1; }

.hero {
  width: 100%;
  height: 90vh;
  background-color: #d4a276;
  flex-direction: column; }
  .hero h2 {
    background-color: #603808;
    color: white;
    font-size: 55px;
    font-weight: 700;
    border: solid 4px black;
    padding: 10px;
    text-align: center; }
  .hero p {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    color: #3f2300; }

.muestra-productos {
  background-color: #a47148;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .muestra-productos div {
    width: 358px;
    height: 308px;
    border: 4px solid black;
    margin: 10px;
    transition: 1s; }
    .muestra-productos div a img {
      width: 350px;
      height: 300px;
      box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7); }
    .muestra-productos div:hover {
      transform: scale(1.05);
      box-shadow: -1px 1px 27px 3px black;
      -webkit-box-shadow: -1px 1px 27px 3px black;
      -moz-box-shadow: -1px 1px 27px 3px black; }

.grid-galeria {
  width: 100%;
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  gap: 15px; }
  .grid-galeria .item-galeria {
    position: relative; }
    .grid-galeria .item-galeria img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7); }
    .grid-galeria .item-galeria h3 {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.527);
      color: #EAC696;
      width: 100%;
      bottom: 0;
      margin: 0;
      padding: 10px;
      text-align: center; }
  .grid-galeria .img-1 {
    grid-row: span 2; }

.servicios {
  border: 4px solid #000;
  height: 90vh;
  background-color: #d4a276; }
  .servicios div {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px; }
    .servicios div h3 {
      font-size: 50px;
      font-weight: 700;
      width: 80%;
      text-align: center;
      background-color: #603808;
      color: #fff;
      border: 3px solid black;
      margin: 0; }
    .servicios div p {
      padding: 20px;
      width: 80%;
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      color: #3f2300;
      margin: 0; }
  .servicios div iframe {
    box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7); }

.servicios-preparacion {
  border: 2px solid #000;
  background-color: #d4a276;
  height: 90vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center; }
  .servicios-preparacion div {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px; }
    .servicios-preparacion div h3 {
      font-size: 50px;
      font-weight: 700;
      text-align: center;
      width: 80%;
      background-color: #603808;
      color: #fff;
      border: 3px solid black;
      margin: 0; }
    .servicios-preparacion div p {
      padding: 20px;
      font-size: 25px;
      font-weight: 500;
      width: 80%;
      text-align: center;
      color: #3f2300;
      margin: 0; }
  .servicios-preparacion div iframe {
    box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7); }

.servicios-yerba {
  border: 4px solid #000;
  background-color: #d4a276;
  height: 90vh; }
  .servicios-yerba div {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px; }
    .servicios-yerba div h3 {
      font-size: 50px;
      font-weight: 700;
      text-align: center;
      background-color: #603808;
      color: #fff;
      border: 3px solid black;
      margin: 0; }
    .servicios-yerba div p {
      padding: 20px;
      font-size: 25px;
      font-weight: 500;
      text-align: center;
      color: #3f2300;
      margin: 0; }
  .servicios-yerba div ol {
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #3f2300;
    margin: 0; }

.productos h2 {
  border: 4px solid #000;
  text-align: center;
  background-color: #603808;
  color: white;
  padding: 10px;
  font-size: 50px;
  font-weight: 700;
  margin: 0; }

.productos .productos-contenedor {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #d4a276; }
  .productos .productos-contenedor div {
    width: 325px;
    height: 425px;
    border: 4px solid black;
    text-align: center;
    margin: 5px;
    background-color: #fff;
    transition: 1s; }
    .productos .productos-contenedor div:hover {
      transform: scale(1.05);
      box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7); }
    .productos .productos-contenedor div img {
      width: 300px;
      height: 300px; }
    .productos .productos-contenedor div h3 {
      font-size: 25px;
      border-top: 2px solid #000; }
    .productos .productos-contenedor div p {
      font-size: 15px;
      font-weight: 500; }

:is(.comienzo, .matera) {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d4a276;
  border: 4px solid #000;
  margin: 0; }

:is(.comienzo div, .matera div) {
  width: 100%;
  padding: 10px;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column; }

:is(.comienzo div h2, .matera div h2) {
  font-size: 50px;
  font-weight: 700px;
  width: 80%;
  color: white;
  text-align: center;
  background-color: #603808;
  border: 2px solid #000;
  margin: 0; }

:is(.comienzo div p, .matera div p) {
  padding: 20px;
  font-size: 30px;
  font-weight: 500px;
  width: 80%;
  color: #3f2300;
  margin: 0; }

:is(.comienzo div img, .matera div img) {
  height: 400px;
  width: 700px;
  border: 2px solid #000;
  box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7); }

.matera {
  flex-direction: row-reverse; }

.opinion {
  text-align: center;
  background-color: #603808;
  border: 4px solid black;
  color: white;
  padding: 10px; }
  .opinion h2 {
    font-size: 40px;
    font-weight: 700; }
  .opinion p {
    font-size: 20px;
    font-weight: 400; }

.caja-cuestionario {
  height: 80vh;
  background-color: #d4a276; }
  .caja-cuestionario form {
    border: 3px solid black;
    padding: 20px;
    background-image: linear-gradient(#bb95578e, #bb955794), url(../img/fondo_yerba.png);
    box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px 1px 23px 3px rgba(0, 0, 0, 0.7); }
    .caja-cuestionario form input {
      width: 100%;
      font-size: 25px;
      font-weight: bold;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #000; }
      .caja-cuestionario form input::placeholder {
        color: #000000; }
      .caja-cuestionario form input#enviar {
        background-color: #faedcd;
        font-size: 25px;
        border: 2px solid #000;
        padding: 10px; }
    .caja-cuestionario form textarea {
      width: 100%;
      font-size: 25px;
      font-weight: bold;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #000; }
      .caja-cuestionario form textarea::placeholder {
        color: #000000; }

footer {
  background-color: #432818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; }
  footer h3 {
    color: #EAC696;
    font-weight: 500;
    font-size: 15px; }
  footer div a i {
    padding: 5px;
    font-size: 40px;
    color: #EAC696; }

@media screen and (max-width: 1600px) {
  :is(.comienzo div h2, .matera div h2) {
    font-size: 40px; }
  :is(.comienzo div p, .matera div p) {
    font-size: 27px; }
  :is(.comienzo div img, .matera div img) {
    height: 250px;
    width: 550px; } }

@media screen and (max-width: 1450px) {
  :is(.servicios div h3, .servicios-preparacion div h3, .servicios-yerba div h3) {
    font-size: 45px; }
  :is(.servicios div p, .servicios-preparacion div p, .servicios-yerba div p) {
    font-size: 23px; }
  :is(.servicios iframe, .servicios-preparacion iframe) {
    height: 200px;
    width: 400px; } }

@media screen and (max-width: 1350px) {
  .opinion h2 {
    font-size: 35px;
    font-weight: 600px; }
  .opinion p {
    font-size: 18px;
    font-weight: 300px; }
  .caja-cuestionario form {
    width: 1000px; } }

@media screen and (max-width: 1300px) {
  .servicios {
    flex-direction: column;
    justify-content: space-evenly; }
    .servicios div h3 {
      font-size: 40px; }
    .servicios div p {
      font-size: 20px; }
  .servicios-preparacion {
    flex-direction: column;
    justify-content: space-evenly; }
    .servicios-preparacion div h3 {
      font-size: 40px; }
    .servicios-preparacion div p {
      font-size: 20px; }
  .servicios-yerba div h3 {
    font-size: 40px; }
  .servicios-yerba div p {
    font-size: 20px; }
  .servicios-yerba div ol li {
    font-size: 20px; }
  .servicios div iframe {
    height: 200px;
    width: 400px; }
  .servicios-preparacion div iframe {
    height: 200px;
    width: 400px; } }

@media screen and (max-width: 1200px) {
  .muestra-productos div {
    width: 258px;
    height: 208px; }
    .muestra-productos div a img {
      width: 250px;
      height: 200px; }
  :is(.comienzo div h2, .matera div h2) {
    font-size: 30px; }
  :is(.comienzo div p, .matera div p) {
    font-size: 23px; }
  :is(.comienzo div img, .matera div img) {
    height: 200px;
    width: 450px; } }

@media screen and (max-width: 1120px) {
  .productos .productos-contenedor div {
    width: 225px;
    height: 325px; }
    .productos .productos-contenedor div h3 {
      font-size: 20px; }
    .productos .productos-contenedor div p {
      font-size: 13px; }
    .productos .productos-contenedor div img {
      height: 200px;
      width: 200px; } }

@media screen and (max-width: 1050px) {
  .opinion h2 {
    font-size: 30px;
    font-weight: 600px; }
  .opinion p {
    font-size: 16px;
    font-weight: 300px; }
  .caja-cuestionario form {
    width: 700px; } }

@media screen and (max-width: 1000px) {
  :is(.comienzo, .matera) {
    flex-direction: column; } }

@media screen and (max-width: 900px) {
  header {
    flex-direction: column; }
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250; }
    .grid-galeria .item-galeria {
      grid-column: span 1;
      grid-row: span 1; }
    .grid-galeria .img-5 {
      grid-column: span 2; } }

@media screen and (max-width: 750px) {
  .servicios div h3 {
    font-size: 30px; }
  .servicios div p {
    font-size: 17px; }
  .servicios-preparacion div h3 {
    font-size: 30px; }
  .servicios-preparacion div p {
    font-size: 17px; }
  .servicios-yerba {
    flex-direction: column;
    height: auto;
    padding: 10; }
    .servicios-yerba div h3 {
      font-size: 30px; }
    .servicios-yerba div p {
      font-size: 17px; }
    .servicios-yerba div ol li {
      font-size: 17px; }
  .servicios div iframe {
    height: 150px;
    width: 350px; }
  .servicios-preparacion div iframe {
    height: 150px;
    width: 350px; }
  .opinion h2 {
    font-size: 30px;
    font-weight: 600px; }
  .opinion p {
    font-size: 16px;
    font-weight: 300px; }
  .caja-cuestionario form {
    width: 500px; } }

@media screen and (max-width: 590px) {
  .hero h2 {
    font-size: 35px; }
  .hero p {
    font-size: 20px; } }

@media screen and (max-width: 550px) {
  .grid-galeria {
    grid-template-columns: 1fr; }
    .grid-galeria .item-galeria {
      grid-column: span 1;
      grid-row: span 1; } }

@media screen and (max-width: 540px) {
  .opinion h2 {
    font-size: 25px;
    font-weight: 600px; }
  .opinion p {
    font-size: 13px;
    font-weight: 300px; }
  .caja-cuestionario form {
    width: 330px; } }

@media screen and (max-width: 488px) {
  :is(.comienzo div p, .matera div p) {
    font-size: 20px; }
  :is(.comienzo div img, .matera div img) {
    height: 200px;
    width: 340px; } }

@media screen and (max-width: 444px) {
  .servicios div h3 {
    font-size: 25px; }
  .servicios div p {
    font-size: 15px; }
  .servicios-preparacion div h3 {
    font-size: 25px; }
  .servicios-preparacion div p {
    font-size: 15px; }
  .servicios div h3 {
    font-size: 25px; }
  .servicios div p {
    font-size: 15px; }
  .servicios div ol li {
    font-size: 15px; } }

@media screen and (max-width: 420px) {
  .servicios div iframe {
    height: 120px;
    width: 200px; }
  .servicios-preparacion div iframe {
    height: 120px;
    width: 200px; } }

@media screen and (max-width: 400px) {
  .hero h2 {
    font-size: 30px; }
  .hero p {
    font-size: 17px; }
  :is(.comienzo div img, .matera div img) {
    height: 150px;
    width: 240px; } }
